/* google fonts */

h1,
h2,
h3 {
  font-family: "Roboto Slab", serif;
}

p,
li {
  font-family: "Hind Guntur", sans-serif;
  font-weight: 500;
}

* {
  text-transform: capitalize;
}

.main-container {
  min-width: 768px;
}

:root {
  --lightbrown: #b40023;
  --darkbrown: #7b0c26;
  --green: #005e2c;
}

body {
  padding: 0px;
  margin: 0px;
}

/* page 1 */

header {
  display: flex;
  padding-left: 20px;
  background-color: var(--green);
}

.nav {
  display: flex;
  align-items: center;
}

.menu-icon {
  opacity: 0;
}

.logo {
  padding-top: 10px;
}

.nav ul {
  display: flex;
  list-style: none;
  color: white;
  font-size: large;
  gap: 40px;
}

.nav li {
  margin-left: 40px;
  text-transform: uppercase;
  justify-content: space-evenly;
  font-weight: bold;
}

.nav li:hover {
  text-decoration: underline;
}

.nav span {
  margin-left: 10px;
}

.nav span:hover {
  font-weight: bold;
}

.search-icon {
  margin-left: 70px;
  cursor: pointer;
}

.search-icon:hover {
  text-decoration: wavy;
}

.page-1 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  background-image: url(assets/Group\ 5367.png);
  width: 100%;
  height: 500px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.page-1-content {
  position: absolute;
  top: 80px;
  color: white;
  padding-left: 30px;
}

.page-1-content h1 {
  font-size: 55px;
}

.page-1-content h2 {
  font-size: 30px;
}

.page-1-content button {
  padding: 15px;
  background-color: var(--lightbrown);
  color: white;
  text-align: center;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 50%;
  margin: 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.page-1-content button:hover {
  background-color: white;
  color: black;
}

/* page 2 */

.page-2 {
  position: relative;
  background-image: url(assets/Group\ 5371.png);
  width: 100%;
  height: 280px;
}

.page-2-content {
  display: flex;
  position: absolute;
  gap: 70px;
  margin-left: 30px;
  text-align: center;
  padding-top: 20px;
}

/* page 3 */

.page-3 {
  background-image: url(assets/meat.png);
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
}

.page-3-content {
  height: 450px;
  width: 50%;
  margin-left: 50%;
  text-align: center;
  line-height: 2.1;
  padding-top: 30px;
}

.page-3-content button {
  padding: 15px;
  border: none;
  background-color: var(--green);
  font-weight: bold;
  color: white;
  width: 40%;
  text-transform: uppercase;
  cursor: pointer;
}

.page-3-content button:hover {
  background-color: black;
  color: white;
}

/* page 4 */

.page-4 {
  background-image: url(assets/Group\ 5368.png);
  width: 100%;
  height: 380px;
  display: flex;
}

.page-4-content {
  color: white;
  margin-left: 40px;
  text-align: center;
  line-height: 2;
  width: 40%;
}

.page-4-image {
  margin: 20px;
}

.page-4-content button {
  padding: 15px;
  background-color: unset;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  font-weight: bold;
  cursor: pointer;
}

.page-4-content button:hover {
  background-color: white;
  color: black;
}

/* page 5 */

.page-5 {
  display: flex;
  background-image: url(assets/Group\ 5369.png);
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
}

.page-5-content {
  color: black;
  text-align: center;
  line-height: 2;
  margin-top: 5%;
}

.page-5-content button {
  padding: 15px;
  border: none;
  background-color: var(--green);
  font-weight: bold;
  color: white;
  width: 50%;
  text-transform: uppercase;
  cursor: pointer;
}

.page-5-content button:hover {
  background-color: chartreuse;
  color: var(--darkbrown);
}

/* page 6 */

.page-6-img1 {
  background-image: url(assets/Group\ 5373.png);
  width: 35%;
  height: 350px;
  margin: 30px;
}

.page-6-img2 {
  background-image: url(assets/Group\ 5374.png);
  width: 35%;
  height: 350px;
  margin: 30px;
}

.page-6 {
  display: flex;
  justify-content: center;
  background-image: url(assets/Rectangle\ 4361.png);
  width: 100%;
  height: 400px;
}

.content-img1 {
  color: white;
  text-align: center;
  line-height: 2;
}

.content-img1 button {
  padding: 15px;
  text-transform: uppercase;
  background-color: unset;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

.content-img1 button:hover {
  background-color: white;
  color: black;
}

.content-img2 {
  color: white;
  text-align: center;
  line-height: 2;
}

.content-img2 button {
  padding: 15px;
  text-transform: uppercase;
  background-color: unset;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}

.content-img2 button:hover {
  background-color: white;
  color: black;
}

/* page-7 */

.page-7 {
  background-image: url(assets/Group\ 5370.png);
  width: 100%;
  background-repeat: no-repeat;
}

.timing {
  display: flex;
  justify-content: space-evenly;
}

.timing h3 {
  color: var(--darkbrown);
}

.timing li {
  list-style: none;
  line-height: 2;
}

.timing li:hover {
  text-decoration: underline;
}

.list2 {
  margin-top: 60px;
}

/* footer */

.icons {
  display: flex;
  gap: 20px;
  color: grey;
  margin: 25px;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer p {
  word-spacing: 3px;
  margin-left: 30px;
}

footer i:hover {
  cursor: pointer;
  color: var(--darkbrown);
}

/* media query for mobile view */

@media (max-width: 425px) {
  .main-container {
    min-width: 425px;
  }

  .menu-icon {
    opacity: 1;
    height: 100%;
    width: 100%;
    z-index: 1;
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: end;
    color: white;
  }

  header li {
    display: none;
  }

  .page-2-content {
    flex-direction: column;
  }

  .page-2 {
    height: 130vh;
  }

  .page-3-content {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
  }

  .page-4 {
    height: 80vh;
  }

  .page-4-image {
    display: none;
  }

  .page-4-content {
    width: 100%;
  }

  .page-5-content {
    flex-direction: column;
    text-align: center;
  }

  .page-5-img {
    width: 100%;
    display: none;
  }

  .content-img1 {
    line-height: 1.4;
    font-size: 14px;
  }

  .content-img2 {
    line-height: 1.5;
    font-size: 14px;
  }

  .timing {
    flex-wrap: wrap;
  }

  .list3,
  .list4,
  .list5 {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    opacity: 1;
    height: 100%;
    width: 100%;
    z-index: 1;
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: end;
    color: white;
  }

  header li {
    display: none;
  }

  .page-3-content {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    float: left;
  }

  .page-4 {
    height: 65vh;
  }

  .page-4-image {
    display: none;
  }

  .page-4-content {
    width: 100%;
  }

  .page-5-content {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .page-5-img {
    width: 100%;
    display: none;
  }

  .content-img1 {
    line-height: 1.4;
  }

  .content-img2 {
    line-height: 1.5;
  }
}
